VITE_FIREBASE_API_KEY=AIzaSyCb1foYyZbBV_SC7f4U_NTNFjPqBLQ9stA
VITE_FIREBASE_AUTH_DOMAIN=yodha-2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=yodha-2
VITE_FIREBASE_STORAGE_BUCKET=yodha-2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=56808818692
VITE_FIREBASE_APP_ID=1:56808818692:web:203e9ad64f08a5106e0d51
VITE_FIREBASE_MEASUREMENT_ID=G-D0Q9RB7WVE
VITE_GOOGLE_FORM_URL=
